<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prevention</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script type="text/javascript">
    	var d="vulnerable to Cross Site Scripting Attack";
    </script>
  </head>
  <body>
      <div class="box">
         <div class="container-fluid">
          <center>
          <h1 style="font-family: Courier New;color:MediumSeaGreen;"><b>An Effective Method to Detect and Prevent XSS</b></h1>
          <h2 style="font-family: Georgia;color: DodgerBlue;"><b>Prevention Phase</b></h2>
        </center>
      <div class="row">
        <div class="col-sm-2" ></div>
        <div class="col-sm-8" style="background-color:lavenderblush;">
        {% block body%}
        {% csrf_token %}
        {{ form.as_p}}
        <h3><b>The Infected URL is {{ datas }}</b></h3>
        {% endblock%}
        <div class="col-sm-2" ></div>
        </div>
      </div>
    </div>
  </body>
</html>